@import "~terra-breakpoints/lib/media-queries";

:local {
  .application-layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .application-layout-body {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .content {
    height: 100%;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 0;
  }

  .menu-panel {
    background-color: var(--terra-application-layout-menu-panel-panel-background-color, #fff);
    display: none;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 5000;
  }

  .menu-is-open > .menu-panel {
    display: block;
    left: 0;
    top: 0;
    width: var(--terra-application-layout-menu-panel-panel-width-default, calc(100% - 3.571rem));

    @include terra-mq-medium-up {
      box-shadow: 0.07143rem 0 0.3571rem var(--terra-application-layout-menu-panel-panel-shadow-color, #1c1f21);
      width: var(--terra-application-layout-menu-panel-panel-width-medium, 22.857rem);
    } 

    @include terra-mq-large-up {
      border-right: 0.07143rem solid var(--terra-application-layout-menu-panel-panel-border-color, #d3d4d5);
      box-shadow: none;
      transition: none;
      width: calc(0.07143rem + #{var(--terra-application-layout-menu-panel-panel-width-large, 18.571rem)});
    } 
  }

  .menu-is-open > .content {
    @include terra-mq-large-up {
      width: calc(100% - #{var(--terra-application-layout-menu-panel-panel-width-large, 18.571rem)} - 0.07143rem);
    } 
  }

  .menu-panel[aria-hidden='true'] {
    visibility: hidden;
  }

  .primary-navigation-menu {
    background-color: var(--terra-navigation-menu-background-color, transparent);
    height: 100%;
    position: relative;
  } 

  .extensions-layout {
    display: flex;
  }

  .extensions-drawer {
    background-color: green;
    display: flex;
    max-height: calc(100% - 3.5725rem);
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 138px;
    top: 3.5725rem;
    z-index: 100;
  }

  .extensions-drawer.is-compact {
    width: 100%;
    right: 0px;
  }

  .extensions-item {
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    border: 2px solid green;
    cursor: pointer;
    display: flex;
    height: 3.5725rem;
    justify-content: center;
    outline: none;
    overflow: hidden;
    width: 3.5725rem;
  }

  .extensions-item:hover {
    background-color: red;
  }
}
